<div class="container">

  <%= render 'pages/home/jumbotron' %>

  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-3 col-sm-6">
        <%= render 'pages/home/user-card', user: user %>
      </div>
    <% end %>
  </div>

</div>



<%= render 'pages/home/session_modal' %>
<%= render 'pages/home/sender_notif_modal' %>
<%= render 'pages/home/receiver_notif_modal' %>
